body{
	background-color: #fff;
}
header{
	width: 100%;
	height: 80px;
	background-color: 14213d;
	text-align: center;
}

.maintext{
	font-size: 28px;
	text-align: center;
	color: #fff;
}

.alldiv{
	display: flex;
}

.centerside{
	flex-grow: 3;
	background-color: fca311;
	width: 1400px;
	vertical-align: center;
}

.Leftside, .Rightside{
	flex-grow: 1; 
	width: 250px;
	height: 750px;
	background-color: #808080;
}

.table{
	border: 1;
}
.bmx{
	font-size: 40px;
	text-align: center;
	
	vertical-align: top;
	margin: 0 10px;
	color: #333;
	text-decoration: none;
	transition: color 0.2s limear;
}
.mount{
	font-size: 40px;
	text-align: center;
	
	vertical-align: top;
	margin: 0 10px;
	color: #333;
	text-decoration: none;
	transition: color 0.2s limear;
}
.elek{
	font-size: 40px;
	text-align: center;
	
	vertical-align: top;
	margin: 0 10px;
	color: #333;
	text-decoration: none;
	transition: color 0.2s limear;
}
.race{
	font-size: 40px;
	text-align: center;
	
	vertical-align: top;
	margin: 0 10px;
	color: #333;
	text-decoration: none;
	transition: color 0.2s limear;
}
.fatbike{
	font-size: 40px;
	text-align: center;
	
	vertical-align: top;
	margin: 0 10px;
	color: #333;
	text-decoration: none;
	transition: color 0.2s limear;
}
.child{
	font-size: 40px;
	text-align: center;
	
	vertical-align: top;
	margin: 0 10px;
	color: #333;
	text-decoration: none;
	transition: color 0.2s limear;
}

 .bmx:hover {
	color: #fff;
}

.mount:hover {
	color: #fff;
}
.elek:hover {
	color: #fff;
}

.race:hover {
	color: #fff;
}

.fatbike:hover {
	color: #fff;
}
.child:hover {
	color: #fff;
}

footer{
	width: 100%;
	height: 140px;
	background-color: 14213d;
	text-align: middle;
}


.nav__head{
	font-size: 14px;
	text-transform: uppercase;
}


.nav__link{
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s limear;
}


.nav__link:hover {
	color: fca311;
}



.image{
	width: 450;
	height: 300; 
}
